@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F28749,#F2B749);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a0582f9f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2B749;
    text-align: center;
    text-shadow: 1px 1px 2px #8a6829a6;
}

h2{
    color: #F28749;
}

p {
    text-align: justify;
}